asttokens==2.4.1
black==24.8.0
click==8.1.7
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
flake8==7.1.1
ipython==8.27.0
isort==5.13.2
jedi==0.19.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.2
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
six==1.16.0
stack-data==0.6.3
tokenize-rt==6.0.0
toml==0.10.2
tomli==2.0.1
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
